<div fxLayout="column wrap" style="    min-width: 100%;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <h2>Shopping Cart</h2>
  <mat-card>
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="space-evenly center" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <h3>Items</h3>
      </div>
      <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="end end" fxShow="true" fxHide="false">
        <h3>Price</h3>
      </div>
      <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="end end" fxShow="true" fxHide="false">
        <h3>Qty</h3>
      </div>
    </div>
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" *ngFor="let item of cart">
      <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><img imgSrc="{{item.image}}" style="    height: 64% !important;width: 40% !important;"></div>
      <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <p>{{item.name}}</p>
      </div>
      <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <h5>{{item.price}}</h5>
      </div>
      <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <mat-form-field><input matInput="" type="number" value="{{item.quantity}}" required></mat-form-field>
      </div>
    </div>
  </mat-card>
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxShow="true" fxHide="false">
    <h3>Subtotal(1 item):$99</h3><button mat-raised-button="" color="accent">Proceed to Checkout</button>
  </div>
</div>